
/*TODO: Implement this correctly*/
.commandWrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 98vw;
    height: 98vh;
    margin: 0;
    padding: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}