.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    margin: auto auto;
}
.form-group{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}
.form-group label{
    text-align: right;
    width: 100%;
    margin-right: 10px;
}
.form-group-div{
    width: 105%;
}
.align-right{
    text-align: right;
}
.form-group-submit{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}